body {
    font-family: 'Segoe UI';
    background-color: #383838;
    font-weight: 100;
    user-select: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
    border-radius: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

h1 {
    color: #a3a3a2;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    cursor: pointer;
}

.nav-links, h1 {
    flex: 1;
} 

li a:hover:not(.active) {
    background-color: #8888b9;
    color: white;
    transition: 0.7s;
}

.active {
    background-color: #808283;
    color: white;
}

a {
    display: block;
    color: #dfdfdf;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20000px;
}

.centriranje {
    width: 40%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -20%;
    margin-top: -50px;
}


#p1 {
    text-align: center;
    color: white;
    font-size: 20pt;
    font-family: 'Times New Roman';
}

#p2 {
    text-align: right;
    color: white;
    font-family: 'Times New Roman';
    font-size: 16pt;
    font-style: italic;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.1;
    }
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

.fade-in2 {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 4s;
}

.fade-in3 {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 6s;
}

.fadeInAndOut {
    animation-fill-mode: both;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-name: fade;
}

@keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
}

footer {
    position: fixed;
    bottom: 10px;
    right: 5px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#bgVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    /*filter: blur(8px); */
    filter: grayscale(60%);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 6%;
}

.mySlides {
    display: none;
}

.slideImg {
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

/* Style the links inside the sidenav */

#mySidenavA  {
    background-color: #585858;
    position: absolute;
    text-align: center;
    top: 30%;
    /* Position them relative to the browser window */
    left: -80px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    height: 500px;
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 20px 20px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenavA a, #mySidenavA p, #mySidenavA hr {
    display: none;
    position: relative;
    top: 30%;
}
#mySidenavA:hover a, #mySidenavA:hover p, #mySidenavA:hover hr{
    display: block;
}

#mySidenavA:hover {
    left: 0;
}

.sideA:hover{
    background-color: #dc54f7;
}

iframe{
    border-radius: 5px;
}

.container{
    display: flex;
    width: 40%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -20%;
    margin-top: -50px;
}

.block{
    width: 100%;
    margin-left: -15%;
    margin-right: 30%;
}


#mySidenavB  {
    background-color: #585858;
    position: absolute;
    text-align: center;
    top: 30%;
    /* Position them relative to the browser window */
    left: -80px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    height: 580px;
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 20px 20px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenavB a, #mySidenavB p, #mySidenavB hr {
    display: none;
    position: relative;
    /*top: 0.1%;*/
    left: -10px;
}
#mySidenavB:hover a, #mySidenavB:hover p, #mySidenavB:hover hr{
    display: block;
}

#mySidenavB:hover {
    left: 0;
}

.svg{
    width: 50px;
    /*height: 30px;*/
}

/*.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}*/

.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.umetniciPic{
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.eventPic{
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.umetniciPic2{
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.column{
    flex: 30%;
}

.row{
    margin-top:10%;
    display: flex;
    margin-left:12%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #dc54f7; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; 
  }